/* type selectors */
h1 {
    color: orange;
    text-align: center;
}

/* p {
    color: green;
} */

/* descendant selectors */
header p {
    color: green;
}

/* class selectors */

.hightlight {
    background-color: yellow;
}

/* mixed use of desc and class */
footer .hightlight {
    background-color: lightgray;
}
